@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/Acumin-BdItPro.otf'); 
    src: url('../fonts/Acumin-BdPro.otf'); 
    src: url('../fonts/Acumin-ItPro.otf'); 
    src: url('../fonts/Acumin-RPro.otf'); 
    font-weight: normal;
    font-style: normal;
}

:root {

    /* Colors: */
    --color-yelow: #CFD200;
    --color-green-dark: #1C4525;
    --color-green: #1A5632;
    font-family: Acumin Pro;
}

html *{
    font-family: Acumin Pro , sans-serif;
}

html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
    
}

.background-color-1{
    background: #1C4525 0% 0% no-repeat padding-box !important;
    color: #CFD200 !important;
}

.background-color-2{
    background: #CFD200 0% 0% no-repeat padding-box !important;
    color: #1C4525 !important;
}

.background-color-3{
    background: #F41938 0% 0% no-repeat padding-box !important;
    color: #1C4525 !important;
}

.background-color-4{
    background: #FDF2C6 0% 0% no-repeat padding-box !important;
    color: #1A5632 !important;
}

.background-color-5{
    background: #0A4486 0% 0% no-repeat padding-box !important;
    color: #CFD200 !important;
}

.background-color-6{
    background: #FE90A5 0% 0% no-repeat padding-box !important;
    color: #1C4525 !important;
}

.background-color-7{
    background: transparent 0% 0% no-repeat padding-box !important;
    color: #FDF2C6 !important;
}

.background-color-8{
    background: #FE90A5 0% 0% no-repeat padding-box !important;
    color: #1C4525 !important;
}

.background-color-9{
    background: #CFD200 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
}

.background-color-10{
    background: #F41938 0% 0% no-repeat padding-box !important;
    color: #CFD200 !important;
}

header{
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

header .logo {
    max-width: 150px;
    max-height: 46px;
}

header img {
    width: 100%;
}

.icon-menu:hover{
    cursor: pointer;
}

.hamb{
    border-top: 2px solid #1C4525;
    margin-bottom: 10px;
    width: 42px;
}

section.section{
    font-size: calc(1em + 1vw);
    line-height: 1em;
    background: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}

section.section .header{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    padding: 1em;
    
}

section.section .header .title{
    text-align: center;
    letter-spacing: 0px;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: calc(1vw + 4vh);
}

section.section .content{
    width: 90%;
    height: calc(100vh - 100px);
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}


.row._100 {
    width: 100%;
    height: 100%;
}

.row._50 {
    width: 100%;
    height: 50%;
}

.purpose-banner-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.purpose-banner-1 img{
    max-width: 590px;
    width: 100%;
    height: auto;
}


.purpose-banner-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.purpose-banner-2 img{
    max-width: 230px;
    width: 100%;
    height: auto;
}






